.card {
  width: 30%;
  border: 1px solid #ff5500;
  padding: 20px;
  text-align: center;
  background-color: #000000; 
  border-radius: 5px;
  margin: 10px;
}

.card:hover{
  transform: rotateY(15deg) scale(1.05);
  box-shadow: 0 0 20px #ff5500;
  transition: ease all 0.5s;
  
}

.card:hover .cardTitle {
  color: #ffaa00; 
  animation: textCambio 0.5s infinite alternate;
}

.cardImage {
  max-width: 100%;
  height: auto;
}

.cardTitle {
  color: #ff5500; 
  font-size: 1.5rem;
  margin: 10px 0;
}

.cardText {
  color: #ffffff; 
  font-size: 1rem;
}

@media (max-width: 768px) {
  .card {
    width: 100%; 
    margin: 10px 0; 
  }

  .cardTitle {
    font-size: 1.2rem; 
  }

  .cardText {
    font-size: 0.9rem; 
  }
}

@keyframes minecraftGlow {
  0% {
    background-color: #000000;
    box-shadow: 0 0 10px #ff5500;
  }
  100% {
    background-color: #1a1a1a;
    box-shadow: 0 0 20px #ff5500;
  }
}


@keyframes textCambio {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}



