.end-mob-card {
    background-color: #A4A66A;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    max-width: 100%;
    text-align: center;
  }
  
  .mob-image {
    width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    object-fit: cover;
    border-radius: 50%;
  }
  
  .mob-name {
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .mob-description {
    font-size: 1rem;
  }
  
  